.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.catsImgs{
    width: 60%;
}
.catsCategories{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: rgb(56, 55, 55);
    width: 18%;
    background: rgb(47 101 112);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.btn{
    height: 36px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
    width: 159px;
    font-size: 14px;
    background: rgb(47 101 112);
    font-weight: 500;
    color: white;
    cursor: pointer;
}
